<!-- SecurePIN --> 
<div id="securepin_block" style="margin: 0 auto; width:350px; display:none">
	<TMPL_VAR SECUREPIN.ENTER_SECUREPIN>
	<input name="securepin" id="securepin" type="text" onkeypress="return AddKeyPress(event, $('#check_securepin'));">
	<button class="ui-btn ui-btn-icon-right ui-corner-all" id="check_securepin" data-inline="true"><TMPL_VAR COMMON.BUTTON_OK></button>
	
	<div class="hint" id="check_hint" style="padding: 5px 5px 5px 5px;"></div>
	<br>
	<div class="path" style="background: #FF8080; font-color: black; text-shadow: none; border: black 1px solid; padding: 5px;">
		<p style="font-weight: bold;">
			<TMPL_VAR SECUREPIN.WARNING_TITLE>
		</p>
		<hr>
		<p>
			<TMPL_VAR SECUREPIN.PREVENT_SPY>
		</p>
	</div>
</div>

<!-- ****************************************************************************************** -->

<style>
	.listtable td
	{
		vertical-align	:middle;
		text-align	:center;
	}
	.listtable td img
	{
		padding		:5px;
	}
	.lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin-top	:-10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
	.mqtttable {
		vertical-align: middle;
		text-align: left;
		/* font-size: 90%; */
		border-collapse: collapse;
		border: 1px solid grey;
		padding: 10px;
		width: 100%;
		
	}
	.mqtttable_vicol, .mqtttable_desccol {
		border: 1px solid grey;
		padding: 10px;
	}
	.mqtttable_headrow {
	
	}

</style>

<form>

<div class="lb_flex-container MQTT">
	<div	class="lb_flex-item-label">
		<label	class=	"control-label"
			for="topic"><TMPL_VAR MQTT.LABEL_MQTTTOPIC></label>
	</div>
	<div	class="lb_flex-item-spacer"></div>
	<div	class="lb_flex-item">
		<input width="100%" value="<TMPL_VAR "COMMON.HINT_EXECUTING">" id="topic" name="topic" type="text" class="textfield" 
		data-validation-rule="^(?!.*//.*)[^\+#]+$" data-validation-error-msg="<TMPL_VAR MQTT.MSG_VALINVALID_MQTTTOPIC>">
	</div>
	<div	class="lb_flex-item-spacer"></div>
	<div	class="lb_flex-item-help hint">
		<TMPL_VAR MQTT.HINT_MQTTTOPIC>
	</div>
	<div	class="lb_flex-item-spacer"></div>
</div>
<div class="lb_flex-container MQTT">
	<div	class="lb_flex-item-label">
		<label	class=	"control-label"
			for="topic"><TMPL_VAR MQTT.LABEL_DELAY></label>
	</div>
	<div	class="lb_flex-item-spacer"></div>
	<div	class="lb_flex-item">
		<input width="100%" value="<TMPL_VAR "COMMON.HINT_EXECUTING">" id="delay" name="delay" type="text" class="textfield" 
		data-validation-rule="special:number-min-max-value:1:300" data-validation-error-msg="<TMPL_VAR MQTT.MSG_VALINVALID_DELAY>">
	</div>
	<div	class="lb_flex-item-spacer"></div>
	<div	class="lb_flex-item-help hint">
		<TMPL_VAR MQTT.HINT_DELAY>
	</div>
	<div	class="lb_flex-item-spacer"></div>
</div>

<div style="padding: 0px 0px 20px 0px;"></div>

<div class="lb_flex-container MQTT">
	<div	class="lb_flex-item-label">
	</div>
	<div	class="lb_flex-item-spacer"></div>
	<div	class="lb_flex-item">
	<a href="#" onclick="saveMQTT(); return false;" id="btnsavemqtt" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check" data-transition="flow"><TMPL_VAR COMMON.BUTTON_SAVE></a>
	<div class="hint" id="savinghint_mqtt">&nbsp;</div>
	</div>
	<div class="lb_flex-item-spacer"></div>
	<div class="lb_flex-item-help hint">
	</div>
	<div class="lb_flex-item-spacer"></div>
</div>

</form>

<script>
	// Validation
	validate_enable('#topic');
	validate_enable('#delay');
</script>

